<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imagenes/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/AilinGnz"target="_blank"><img src="../../../assets/imagenes/github.png" id="GitHub"></a>
                <a href="https://www.linkedin.com/in/priscila-ailin-gonzalez-08506a231/"target="_blank"><img src="../../../assets/imagenes/linkedin.png" id="Linkedin"></a>
                <a href="https://www.instagram.com/ailingnz/"target="_blank"><img src="../../../assets/imagenes/instagram.png" id="Instagram"></a>
                <button type="button" class="btn btn-outline-light"(click)="login()">Ingreso</button>
            </div>
        </div>
    </div>
</div>

