@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Mynerve&family=Open+Sans:wght@700&display=swap');

h1,
h3 {
    color: rgb(201,228,148);
    font-family: 'Concert One', cursive;
    display: inline;
}

.row {
    padding: 20px;
}

div {
    background-color: rgb(239, 211, 255);
}