.row{
    background-color:  #f6d8b4;
}
footer{
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -3px 5px #999 ;
}