<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 first">
            <h3>pagina diseño grafico</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia labore quod consectetur placeat, sapiente
                eveniet impedit nihil nobis mollitia distinctio deserunt enim corporis obcaecati facilis illum incidunt,
                non eius! Modi.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-md-3 col-lg-3 offset-md-1 offset-lg-1 second">
            <img src="../../../assets/imagenes/diseño Grafico.jpeg" class="img-fluid img-diseño" id="dg">
        </div>
    </div>
</div>