<div class="row">
  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/perfilfoto.jpeg" id="perfilfoto" class="img-fluid">
    </div>
  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Priscila Ailin Gonzalez</p>
        <p>Full Stack Developer Jr</p>
    </div>
   
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <span>
            <h2>Acerca de mí</h2>
            
            <p>Estoy dando mis primeros pasos en el mundo IT. <br> Una de mis Metas, es poder aprender sobre las nuevas tecnologias, unirme a un grupo de trabajo del que pueda aprender y al que pueda aportar desde mi conocimiento. <br>Tengo mucho por aprender como desarrolladora. De mi parte siempre habrá compromiso y ganas de aprender. Trabaja conmigo! </p>
        </span>
    </div>
   
</div>

