.row{
    background-color:  rgb(0, 0, 0);
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Mynerve&family=Open+Sans:wght@700&display=swap');

h1 {
    color: rgb(245, 166, 255);
    font-family: 'Concert One', cursive;}