div {
    
    background: linear-gradient(to bottom, #000000, #ec71ff);
    background-size: cover;
    background-position: center center;
  }

app-social {
    float: right;
    margin-top: 25px;
}