div {
    
    background: linear-gradient(to bottom, #e2a9f6 ,#efc9c8);
    background-size: cover;
    background-position: center center;
  }

app-social {
    float: right;
    margin-top: 25px;
}