div {
    
    background: linear-gradient(to bottom, #272d40, #8c70aa);
    background-size: cover;
    background-position: center center;
  }

app-social {
    float: right;
    margin-top: 25px;
}