<div class="row">
    <h1>Hard & Soft skill</h1>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleColor]="'rgb(245, 166, 255)'"
                [titleFontSize]="'30px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'rgb(245, 166, 255)'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="900"
         ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'rgb(245, 166, 255)'"
            [titleFontSize]="'30px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(245, 166, 255)'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
     ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [title]="'TS'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVA'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'MySQL'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="96"
        [radius]="100"
        [showUnits]="false"
        [title]="'Ingles'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Colaborativo'"
        [titleColor]="'rgb(245, 166, 255)'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(245, 166, 255)'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
 ></circle-progress>
</div>
</div>