<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu"> <h2>Nombre de la Institucion</h2></label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu"> <h2>Estudios: Descripcion </h2></label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required>
                </div>
                <button type="button" class="btn btn-light">
                   <h3>Agregar Formacion</h3> 
                </button>
            </form>
        </div>
    </div>
</div>