<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/perfilfoto.jpeg" id=""
        class="img-fluid">
        <div>
            <p>Gonzalez Priscila Ailin</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae delectus accusamus doloremque maxime alias saepe quaerat quidem, iusto tenetur architecto laudantium recusandae placeat repudiandae commodi optio cum cumque? Beatae, suscipit?</p>
        </span>
    </div>

</div>
